[submodule "MRTKExtensionForOculusQuest"]
	path = MRTKExtensionForOculusQuest
	url = https://github.com/provencher/MRTKExtensionForOculusQuest.git
[submodule "MRTK-Quest"]
	path = MRTK-Quest
	url = https://github.com/provencher/MRTK-Quest.git
